<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <link href="/css/index.css" rel="stylesheet">
  <title>QuickAnswer</title>
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <h1>Answer Questions</h1>
    <section>
      <% for (const question of data.unsolvedQuestions) { %>
      <%- include("../partials/question-preview.ejs", {question:question, showSolvedTag: false}) %>
      <% } %>
    </section>
    <hr>
    <h2>Solved Questions</h2>
    <section>
      <% for (const question of data.solvedQuestions) { %>
      <%- include("../partials/question-preview.ejs", {question:question, showSolvedTag: true}) %>
      <% } %>
    </section>
    <hr>
    mistertfy64 QuickAnswer 0.1.0
  </main>
</body>

</html>