<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <link href="/css/index.css" rel="stylesheet">
  <title>QuickAnswer</title>
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <h1>Register</h1>
    <form action="/register" method="POST">
      Username: <input name="username" type="text" autocomplete="off">
      <br>
      Password: <input name="password" type="password" autocomplete="off">
      <br>
      <input type="submit">
    </form>
  </main>
</body>

</html>