body {
	font-family: sans-serif;
}

h1 {
	margin: 4px 0;
}

h2 {
	margin: 4px 0;
}

p {
	margin: 4px 0;
}

#header {
	display: flex;
	justify-content: space-between;
}

.color--solved {
	color: #319131;
}
